<div class="container" ng-controller="DishDetailController">
    <div class="row row-content">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a area-controls="all menu" role="tab">Dish Details</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="dish-comments-tab">
                <ul class="media-list tab-pane fade in active">
                    <li class="media">
                        <div class="media-left media-top">
                            <a ui-sref="app.menu" data-toggle="tooltip" name="{{dish.name}}" title="Back to menu">
                                    <img class="media-object img-thumbnail" ng-src={{dish.image}} alt={{dish.name}}>
                                </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                    <span class="label label-danger">{{dish.label}}</span>
                                    <span class="badge">{{dish.price | currency}}</span>
                                </h2>
                            <div class="padding20">
                                <p>{{dish.description}}</p>
                            </div>
                        </div>
                        <div class="offset">
                            <div>
                                <a ng-click="showDetails = ! showDetails" class="more-info">
                                    <h4>Customer Comments 
                                        <span ng-class="{ 'display-class': ! showDetails }">&#9660;</span>
                                    </h4>
                                </a>
                                <div class="comments-div" ng-class="{ 'display-class': ! showDetails }">
                                    <p>Sort By <span>(rating, comment or author)   </span>
                                        <input type="text" ng-model="sortWords[$index]">
                                    </p>
                                    <p>{{sortWord}}</p>
                                    <div ng-repeat="comment in dish.comments | orderBy: sortWords[$index]">
                                        <blockquote>
                                            <h3>{{comment.rating}} Stars</h3>
                                            <q>{{comment.comment}}</q>
                                            <p>{{comment.author}}, {{comment.date | date}}</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="user-comment-tab" ng-controller="DishCommentController">
                <ul>
                    <p>Task 3: Here you include the code to show the live preview of the comment</p>
                    <p>The comment should be shown only when the form contains valid information and is not pristine</p>
                </ul>
                <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                    <p>Task 1: Design the form to submit the comments</p>
                    <p>Task 2: You need to validate that the user name and comments are entered</p>
                </form>
            </div>
        </div>
    </div>
</div>